.jumbotron{
	height: 170px;
}
.navbar-brand{
	cursor: default;
}
.iconFlag{
	width: 30px;
	height: 30px;
}
.imgHome{
	float: left;
	margin-left: 50px;
}
.imgExp{
	height: 250px;
	height: 250px;
	margin-left: 50px;
}
.botao{
	margin-bottom: 20px;
	margin-left: 105px;
}
.calculadora{
	float: left;
}
.erro{
	color: red;
	display: none;
}
.warning{
	width: 17px;
	height: 17px;
}