
h4{
	margin-left: 40px;
	margin-top: 30px;
}
.timer{
	margin-left: 30px;
	font-size: 25px;
}
.timeResult{
	margin-left: 10px;
	width: 400px;
	display: none;
}

.header{
	height: 70px;
}
.logoGOT{
	height: 50px;
}
.gameView{
	float: left;
}
.result{
	width: 340px;
	float: left;
	margin-left: 30px;
}

.reload{
	margin-top: -14px;
	margin-bottom: 5px;
	margin-left: 30px;
	width: 255px;
}

.resultTable{
	width: 350px;
	float: right;
	height: 237px;
}

.avatarImg{
	width: 30px;
	height: 30px;
}

.footer{
	margin-top: 10px;
	margin-left: 500px;
}

.home{
	font-size: 25px;
	width: 150px;
	margin-top: 10px;
	margin-left: 20px;
}

.welcome{
	font-size: 25px;
}

.columns{
	margin-right: -25px;
}

.thumbnail{
	margin-bottom: 5px; 
}

.row img{
	width: 80px;
	height: 75px;
}

.themeLogo{
	margin-left: 465px;
	margin-bottom: 10px;
	margin-top: -40px;
}

.themeLogo img{
	width: 704px;
	height: 150px;
}
